Goal is to make a function that takes an employee's name, available days, available times, work skill by station, requested days off creates a work schedule.
To do this need:
>> Employee info with emp attributes
>> Work requirments - what work skill is required for the day
>> Employee Type - FT or PT (this will set condition for whether employee can be scheduled again in the week

All staff take lunch at 1pm to 1:30pm
Early Shift starts at 8 am and ends day at 4:30 
regular shift stats at 9 am and ends day at 5:30

In [1]:
import pandas as pd

In [2]:
# my employee information
employees = { 'E01':
            {'avail_days':['mon', 'tue','wed','thur', 'fri', 'sat', 'sun'],
            'avail_time' : (9, 7),
            'work_skill' : ['dairy', 'meat', 'hotline', 'bread', 'veg'],
            'main_skill' : 'dairy',
            'hire_type' : 'PT'},
            'E02':
            {'avail_days':['mon', 'tue','wed','thur', 'fri', 'sat', 'sun'],
            'avail_time' : (7, 7),
            'work_skill': ['dairy', 'meat', 'hotline', 'veg'],
            'main_skill' : 'Hotline',
            'hire_type' : 'FT'},
            'E03':
            {'avail_days':['mon', 'tue','wed','thur', 'fri', 'sat', 'sun'],
            'avail_time' : (9, 7),
            'work_skill': ['dairy', 'meat', 'hotline', 'veg'],
            'main_skill' : 'meat',
            'hire_type' : 'FT'},
            'E04':
            {'avail_days':['mon', 'tue','wed','thur', 'fri', 'sat', 'sun'],
            'avail_time' : (9, 7),
            'work_skill' : ['dairy', 'meat', 'hotline', 'bread', 'veg'],
            'main_skill' : 'bread',
            'hire_type' : 'FT'},
            'E05':
            {'avail_days':['mon', 'tue','wed','thur', 'fri', 'sat', 'sun'],
            'avail_time' : (9, 7),
            'work_skill' : ['dairy', 'meat', 'hotline', 'bread', 'veg'],
            'main_skill' : 'bread',
            'hire_type' : 'FT'},
            'E06':
            {'avail_days':['mon', 'tue','wed','thur', 'fri', 'sat', 'sun'],
            'avail_time' : (9, 7),
            'work_skill' : ['dairy', 'meat', 'hotline', 'bread', 'veg'],
            'main_skill' : 'bread',
            'hire_type' : 'FT'},
            'E07':
            {'avail_days':['mon', 'tue','wed','thur', 'fri', 'sat', 'sun'],
            'avail_time' : (9, 7),
            'work_skill' : ['dairy', 'meat', 'hotline', 'bread', 'veg'],
            'main_skill' : 'veg',
            'hire_type' : 'FT'},
            'E08':
            {'avail_days':['mon', 'tue','wed','thur', 'fri', 'sat', 'sun'],
            'avail_time' : (9, 7),
            'work_skill' : ['dairy', 'meat', 'hotline', 'bread', 'veg'],
            'main_skill' : 'meat',
            'hire_type' : 'FT'},
            'E09':
            {'avail_days':['mon', 'tue','wed','thur', 'fri', 'sat', 'sun'],
            'avail_time' : (9, 7),
            'work_skill' : ['dishwasher'],
            'main_skill' : 'dishwasher',
            'hire_type' : 'FT'},
            'E10':
            {'avail_days':['mon', 'tue','wed','thur', 'fri', 'sat', 'sun'],
            'avail_time' : (9, 7),
            'work_skill' : ['dishwasher','veg'],
            'main_skill' : 'veg',
            'hire_type' : 'PT'}}

# stations = ['dairy', 'meat', 'hotline', 'bread', 'veg', 'dishwasher']
week_Request_off = {'E01': 'wed', 'E02': 'thur'}
            
daily_work_req = {'Mon' : {'dairy': 0, 'meat': 1, 'hotline': 1, 'bread': 3, 'veg': 1, 'dishwasher': 1},
                  'Tue' : {'dairy': 1, 'meat': 1, 'hotline': 1, 'bread': 3, 'veg': 1, 'dishwasher': 1},
                  'Wed' : {'dairy': 0, 'meat': 1, 'hotline': 1, 'bread': 3, 'veg': 1, 'dishwasher': 1},
                  'Thur' : {'dairy': 1, 'meat': 1, 'hotline': 1, 'bread': 3, 'veg': 1, 'dishwasher': 1},
                  'Fri' : {'dairy': 0, 'meat': 1, 'hotline': 1, 'bread': 3, 'veg': 1, 'dishwasher': 1},
                  'Sat' : {'dairy': 1, 'meat': 1, 'hotline': 1, 'bread': 3, 'veg': 1, 'dishwasher': 1},
                  'Sun' : {'dairy': 0, 'meat': 0, 'hotline': 0, 'bread': 0, 'veg': 0, 'dishwasher': 0}}

In [3]:
employees_df = pd.DataFrame(employees)
employees_df = employees_df.transpose()
daily_work_df = pd.DataFrame(daily_work_req)

In [4]:
employees_df.head()

,avail_days,avail_time,work_skill,main_skill,hire_type
E01,"[mon, tue, wed, thur, fri, sat, sun]","(9, 7)","[dairy, meat, hotline, bread, veg]",dairy,PT
E02,"[mon, tue, wed, thur, fri, sat, sun]","(7, 7)","[dairy, meat, hotline, veg]",Hotline,FT
E03,"[mon, tue, wed, thur, fri, sat, sun]","(9, 7)","[dairy, meat, hotline, veg]",meat,FT
E04,"[mon, tue, wed, thur, fri, sat, sun]","(9, 7)","[dairy, meat, hotline, bread, veg]",bread,FT
E05,"[mon, tue, wed, thur, fri, sat, sun]","(9, 7)","[dairy, meat, hotline, bread, veg]",bread,FT

In [5]:
daily_work_df.head()

         Mon  Tue  Wed  Thur  Fri  Sat  Sun
dairy      0    1    0     1    0    1    0
meat       1    1    1     1    1    1    0
hotline    1    1    1     1    1    1    0
bread      3    3    3     3    3    3    0
veg        1    1    1     1    1    1    0

In [6]:
employees_df.reset_index(inplace = True)
daily_work_df.reset_index(inplace = True)

In [7]:
employees_df.rename(columns = {'index': 'emp_id'}, inplace = True)
daily_work_df.rename(columns = {'index' : 'station'}, inplace = True)

In [8]:
employees_df.head()

,emp_id,avail_days,avail_time,work_skill,main_skill,hire_type
0,E01,"[mon, tue, wed, thur, fri, sat, sun]","(9, 7)","[dairy, meat, hotline, bread, veg]",dairy,PT
1,E02,"[mon, tue, wed, thur, fri, sat, sun]","(7, 7)","[dairy, meat, hotline, veg]",Hotline,FT
2,E03,"[mon, tue, wed, thur, fri, sat, sun]","(9, 7)","[dairy, meat, hotline, veg]",meat,FT
3,E04,"[mon, tue, wed, thur, fri, sat, sun]","(9, 7)","[dairy, meat, hotline, bread, veg]",bread,FT
4,E05,"[mon, tue, wed, thur, fri, sat, sun]","(9, 7)","[dairy, meat, hotline, bread, veg]",bread,FT

In [9]:
daily_work_df.head()

   station  Mon  Tue  Wed  Thur  Fri  Sat  Sun
0    dairy    0    1    0     1    0    1    0
1     meat    1    1    1     1    1    1    0
2  hotline    1    1    1     1    1    1    0
3    bread    3    3    3     3    3    3    0
4      veg    1    1    1     1    1    1    0

In [10]:
employees_df['avail_time'].value_counts()

(9, 7)    9
(7, 7)    1
Name: avail_time, dtype: int64

In [11]:
def early_shift_emp(emps):
    shift_emp = []
    for i in range(len(emps)):
        if emps['avail_time'][i][0] <= 8:
            shift_emp.append(emps['emp_id'][i])
            i +=1
    return shift_emp

def second_shift_emp(emps):
    shift_emp = []
    for i in range(len(emps)):
        if emps['avail_time'][i][0] > 8:
            shift_emp.append(emps['emp_id'][i])
            i +=1
    return shift_emp
early_shifter = early_shift_emp(employees_df)
second_shifter = second_shift_emp(employees_df)

How do I want my final schedule to look like? Think about the columns you will need? and how do you want your values to show?
For the final schedule, at the end you will have to run a test of whether all stations are filled.
Make overtime a manual entry and request an explanation
And maybe use the schedule library to schedule a weekly run of the whole code.

In [12]:
final_schedule = pd.DataFrame(columns = ['emp_id', 'total_hrs', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

final_schedule.columns

final_schedule['emp_id'] = employees_df['emp_id']

In [13]:
for index, row in employees_df.iterrows():
    print('7am - 3:30pm \n {}'.format(row['main_skill']))
#     print(row[1])

7am - 3:30pm
 dairy
7am - 3:30pm
 Hotline
7am - 3:30pm
 meat
7am - 3:30pm
 bread
7am - 3:30pm
 bread
7am - 3:30pm
 bread
7am - 3:30pm
 veg
7am - 3:30pm
 meat
7am - 3:30pm
 dishwasher
7am - 3:30pm
 veg

For a day- I want the schedule to show the employee's shift time interval and the station going to work at

In [14]:
# next(final_schedule.iterrows())[1][1] = 'L'
#     print(row['emp_id'])
# final_schedule.head(1)
for index, row in final_schedule.iterrows():
    print(row['Monday'])

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [15]:
def day_sched(emp):
    this_day = []
    for index, row in employees_df.iterrows():
        if row['emp_id'] in early_shifter:
            early_value = '7:00am - 3:30pm \n {}'.format(row['main_skill'])
            this_day.append(early_value)
        else:
            second_value = '9:00am - 5:30pm \n {}'.format(row['main_skill'])
            this_day.append(second_value)
    return this_day

In [16]:
day_sched('E02')

['9:00am - 5:30pm \n dairy',
 '7:00am - 3:30pm \n Hotline',
 '9:00am - 5:30pm \n meat',
 '9:00am - 5:30pm \n bread',
 '9:00am - 5:30pm \n bread',
 '9:00am - 5:30pm \n bread',
 '9:00am - 5:30pm \n veg',
 '9:00am - 5:30pm \n meat',
 '9:00am - 5:30pm \n dishwasher',
 '9:00am - 5:30pm \n veg']

In [17]:
# def fill_schedule():
for index, row in final_schedule.iterrows():
    row['Monday'] = day_sched(row['emp_id'])
    row['Tuesday'] = day_sched(row['emp_id'])
    row['Wednesday'] = day_sched(row['emp_id'])
    row['Thursday'] = day_sched(row['emp_id'])
    row['Friday'] = day_sched(row['emp_id'])
    row['Saturday'] = day_sched(row['emp_id'])

In [18]:
final_schedule.head()

,emp_id,total_hrs,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,E01,NaN,"[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...",NaN
1,E02,NaN,"[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...",NaN
2,E03,NaN,"[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...",NaN
3,E04,NaN,"[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...",NaN
4,E05,NaN,"[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...","[9:00am - 5:30pm \n dairy, 7:00am - 3:30pm \n ...",NaN

In [19]:
second_shifter

['E01', 'E03', 'E04', 'E05', 'E06', 'E07', 'E08', 'E09', 'E10']

https://towardsdatascience.com/scheduling-with-ease-cost-optimization-tutorial-for-python-c05a5910ee0d
https://www.gurobi.com/documentation/9.0/refman/py_python_api_overview.html
https://www.gurobi.com/workforce-scheduling/

In [20]:
# !pip install schedule

In [21]:
# import schedule 
# import time

In [22]:
# def job():
#     print("I'm working...")

# schedule.every(10).minutes.do(job)
# schedule.every().hour.do(job)
# schedule.every().day.at("10:30").do(job)
# schedule.every(5).to(10).minutes.do(job)
# schedule.every().monday.do(job)
# schedule.every().wednesday.at("13:15").do(job)
# schedule.every().minute.at(":17").do(job)

# while True:
#     schedule.run_pending()
#     time.sleep(1)